APScheduler==3.10.4
asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
diff-match-patch==20230430
dj-database-url==2.2.0
Django==5.1.1
django-admin-extra-buttons==1.5.8
django-import-export==4.1.1
gevent==24.2.1
greenlet==3.1.0
idna==3.10
logzero==1.7.0
numpy==2.1.1
pandas==2.2.2
psycopg2-binary==2.9.9
pyotp==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
smartapi-python==1.5.0
sqlparse==0.5.1
tablib==3.5.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.3
websocket==0.2.1
zope.event==5.0
zope.interface==7.0.3
