<head>
    <meta charset="UTF-8">
    <title>TradeBros.AI</title>
</head>
<td>
    <p style="padding-bottom: 10px;font-size: 20px">Hi {{ name }},</p>
    <p style="padding-bottom: 0px;font-size: 18px">Stoploss hitted successfully for <strong>{{ symbol }}</strong> at price <strong>{{ price }}</strong>.<br>Booked Loss of: <span style="color: #ff0000;font-size: 18px">{{ profit }} %</span><br>Order-ID: {{ order_id }}</p>
    <p style="padding-bottom: 0px;font-size: 16px">Thanks & Regards<br>TradeBros.AI Team</p>
    <p style="padding-bottom: 0px;font-size: 16px">For more information please login in to your AngelOne account.</p>
</td>